<html>
<body>
<table>
<tr>
<th>
Manager/Client
</th>
<th>
Contract Price
</th>
</tr>
&lt;&lt;foreach [in getManagers()]&gt;&gt;
<tr> <!-- Repeated master row. -->
<td>
<b>&lt;&lt;[getName()]&gt;&gt;</b>
</td>
<td>
&lt;&lt;[getContracts().sum(c =&gt; c.getPrice())]&gt;&gt;
</td>
</tr>
&lt;&lt;foreach [in getContracts()]&gt;&gt;
<tr> <!-- Repeated detail row. -->
<td>
<i>&nbsp;&nbsp;&lt;&lt;[getClient().getName()]&gt;&gt;</i>
</td>
<td>
&lt;&lt;[getPrice()]&gt;&gt;
</td>
</tr>
&lt;&lt;/foreach&gt;&gt;
&lt;&lt;/foreach&gt;&gt;
<tr> <!-- Footer row. -->
<td>
<b>Total:</b>
</td>
<td>
&lt;&lt;[getManagers().sum(
  m =&gt; m.getContracts().sum(
    c =&gt; c.getPrice()))]&gt;&gt;
</td>
</tr>
</table>
</body>
</html>